.my-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.main-row {
    cursor: pointer;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
}

.main-row:hover {
    background-color: #e0e0e0;
}

.main-row.expanded {
    background-color: #d3ffd3;
}

.detail-row {
    background-color: #f9f9f9;
}

.my-table th, .my-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.my-table th {
    background-color: #4CAF50;
    color: white;
}

.arrow {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* Adjust the max-width as needed */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

.scrollable-table {
    max-height: 400px; /* Example height */
    overflow-y: auto;
    display: block;
}

/* Styling the scrollbar itself */
.scrollable-table::-webkit-scrollbar {
    width: 5px; /* Adjust the width of the scrollbar here */
}

/* Styling the background of the scrollbar track */
.scrollable-table::-webkit-scrollbar-track {
    background: #f1f1f1; /* Optional: change the track background color */
}

/* Styling the scrollbar thumb (the part that is draggable) */
.scrollable-table::-webkit-scrollbar-thumb {
    background: rgba(114, 112, 112, 0.42); /* Optional: change the thumb color */
}

/* Changing the thumb color when hovered or clicked */
.scrollable-table::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6); /* Optional: change the hover color */
}



@media screen and (max-width: 600px) {
    .my-table th, .my-table td {
        font-size: 12px; /* Регулируйте размер шрифта по вашему усмотрению */
    }

    .arrow {
        width: 15px; /* Регулируйте размер стрелки по вашему усмотрению */
        height: 15px;
    }
}