/*.centered-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100vh;*/
/*    margin-top: 220px;*/
/*    margin-right: 0; !* Добавьте это свойство, чтобы убрать отступ справа *!*/
/*}*/
.centered-container {
    margin-bottom: 0;
}
.title-chart {
    color: #1f1f1f;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 0;
}
.title-chart-2 {
    color: #1f1f1f;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.title-chart:hover {
    background-color: #ddd;
}

.title-chart-2:hover {
    background-color: #ddd;
}




