.title-chart {
    color: #1f1f1f;
    margin-left: 100px; /* Измените значение отступа, как вам удобно */
    cursor: pointer; /* Добавляем курсор при наведении */
    display: inline-block; /* Превращаем встроенный блок, уменьшая область наведения */
}

.title-chart:hover {
    background-color: #ddd; /* Измените цвет фона при наведении, как вам удобно */
    padding: 1px; /* Измените значение отступа внутри при наведении, как вам удобно */
    border-radius: 8px; /* Задаем радиус закругления, как вам удобно */
}


