.menu-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: #D3E3FC; !* Светлый фон *!*/
    background-color: #e5e4e4; /* Светлый фон */
    /*padding: 3px 0; !* Внутренний отступ *!*/
    margin: 0; /* Убрать внешние отступы для футера */
    /*box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.75);  !* Тень сверху *!*/
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #495057; /* Цвет текста */
    transition: transform 0.3s ease-in-out;
    padding: 15px; /* Внутренний отступ */
    position: relative;
    border-radius: 10px; /* Закругление углов */
    margin-bottom: 10px; /* Отступ между элементами меню */
    font-family: 'Roboto', sans-serif;

    /*box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.75),*/
    /*0 5px 10px rgba(0, 0, 0, 0.1);*/
    font-size: 13px;
}

.menu-item.active {
    color: #08a652; /* Зеленый цвет для текста активного элемента */
}
.menu-item:hover {
    background-color: #e9ecef; /* Цвет фона при наведении */
    /*transform: scale(0.6);*/
}

.menu-icon {
    margin-bottom: 5px; /* Отступ между иконкой и текстом */
    font-size: 18px; /* Увеличение размера иконки */
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
    font-family: 'Roboto', sans-serif;

}

.menu-item:hover .menu-icon {
    color: #007bff; /* Новый цвет при наведении */
}

.menu-item:hover .menu-icon svg {
    color: #08a652; /* Зеленый цвет при наведении */
}

.menu-item.active .menu-icon svg {
    color: #08a652; /* Зеленый цвет для активного элемента */
}

.menu-item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    /*background: linear-gradient(to right, #28a745, #ffc107, #007bff); !* Градиентная полоса *!*/
    bottom: -10px;
    left: 0;
    transition: height 0.3s, background 0.3s;
}

.menu-item:hover:after {
    height: 0;
}

.menu-icon {
    margin-bottom: 5px;
}

.menu-text {
    text-align: center;
}

/* Стиль для иконок */
.menu-icon svg {
    font-size: 16px;
    color: #818183; /* Цвет иконок */
}



.sc-gKsecS.gOHfVy.footer {
    padding: 0;
}



/*body, html {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
